<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.lvyi.system.mapper.RefuseSortMapper">

    <resultMap id="RefuseSortResult" type="RefuseSort">
        <id     property="sortId"     column="sort_id" />
        <result property="refuseType" column="refuse_type"/>
        <result property="description" column="description"/>
        <result property="createTime"   column="create_time"  />
        <result property="updateTime"   column="update_time"  />
        <result property="remark"         column="remark"          />
    </resultMap>

    <insert id="insertSort" parameterType="RefuseSort">
        insert into sort(
            <if test="refuseType != null and refuseType != '' ">refuse_type, </if>
            <if test="description != null and description != '' ">description, </if>
            <if test="remark != null and remark != ''">remark, </if>
            create_time
        )
        values (
        <if test="refuseType != null and refuseType != '' ">#{refuseType}, </if>
        <if test="description != null and description != '' ">#{description}, </if>
        <if test="remark != null and remark != ''">#{remark}, </if>
        sysdate()
        )
    </insert>

    <update id="updateSort" parameterType="RefuseSort">
        update sort set refuse_type = #{refuseType}, description = #{description}, update_time = sysdate()
        where sort_id = #{sortId}
    </update>

    <delete id="deleteSortById" parameterType="Integer">
        delete from sort where sort_id = #{sortId}
    </delete>

    <select id="selectSortList" parameterType="RefuseSort" resultMap="RefuseSortResult">
        select sort_id, refuse_type, description, create_time from sort
    </select>

    <select id="selectSortById" parameterType="Integer" resultMap="RefuseSortResult">
        select sort_id, refuse_type, description, create_time
        from sort
        where sort_id = #{sortId}
    </select>
</mapper>